<%- include("_header") %>

<h1 class="d-inline-flex">
  Blog
  <h3 class="ml-3 d-inline-flex">
    -The number of article(<%= model.length %>)-
  </h3>
  <a href="/api/logout" class="btn btn-sm btn-secondary">Logout</a>
</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Contents</th>
        <th>
          <a href="/create" class="btn btn-sm btn-success"
            >Write a new article</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <% for(const blog of model){ %>
      <tr>
        <td><%= blog.Title %></td>
        <td><%= blog.Content.substring(0, 50) %>...</td>
        <td>
          <a href="home/<%= blog.ID %>" class="btn btn-sm btn-primary"
            >Detail</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") %>
